div
  .trip-info-container[data={ id: @trip.id }]
    .trip-info-inner
      .heading--titan= @trip.name
      br
      .heading--medium= @trip.start_date.strftime("Start date: %m/%d/%Y")
      .heading--medium= @trip.end_date.strftime("End date: %m/%d/%Y")
      br
      .heading--medium Participants:
      .heading--small #{@trip.users.collect(&:name).join(", ")}

  .other-info-container ng-app="commonApp"
    .notes-container.flex-column ng-controller="NotesCtrl"
      .heading--medium.text-emphasized Notes
      .heading--small Suggestions of what to do / other info
      div.flex-column-inner
        .notes-item ng-class="{ 'even' : $index % 2}" ng-repeat="note in notes"
          | {{ note.description }}
          br
          | - {{ note.creator_name }}
      - if current_user
        .heading--medium.text-emphasized Submit new notes
        div.flex-column-edit
          textarea ng-model="description"
          a href="#" ng-click="submitForm($event)" Submit

    .flights-container.flex-column ng-controller="FlightsCtrl"
      .heading--medium.text-emphasized Fights
      .heading--small Add your flights here. Specify infos in the description field.
      div.flex-column-inner
        .notes-item ng-class="{ 'even' : $index % 2}" ng-repeat="flight in flights"
          b
            | {{ flight.flight_number }}
          | : {{ flight.description }}
          | - {{ flight.arrival_date }}
          br
          | - {{ flight.creator_name }}
      - if current_user
        .heading--medium.text-emphasized Add more flights
        div.flex-column-edit
          | Flight number:
          input type="text" ng-model="flight_info.flight_number"
          br
          | Description:
          input type="text" ng-model="flight_info.description"
          br
          | Arrival Date (mm/dd/yyyy):
          input type="text" ng-model="flight_info.arrival_date"
          br
          a href="#" ng-click="submitForm($event)" Submit

    .lodging-container.flex-column ng-controller="LodgingCtrl"
      .heading--medium.text-emphasized Lodging (currently uses dummy data)
      .heading--small Add a list of all places you will be staying.
      div.flex-column-inner
        .notes-item ng-class="{ 'even' : $index % 2}" ng-repeat="lodging in lodgings"
          b
            | {{ lodging.start_date }} - {{ lodging.end_date }}
          | : {{ lodging.name }}
          br
          | - {{ lodging.creator_name }}

    .finance-tracking-container.flex-column ng-controller="FinanceCtrl"
      .heading--medium.text-emphasized Finance (currently uses dummy data)
      .heading--small Keep track of spending /credits for each person.
      div.flex-column-inner
        .notes-item ng-class="{ 'even' : $index % 2}" ng-repeat="record in finances"
          b
            | $ {{ record.amount }}
          | : {{ record.description }}
          br
          | Paid by {{ record.creditor }}
          br
          | Debtors: {{ record.debtors }}
