$dark-grey: #4F545A;
$light-grey: #F0F1F2;
$deep-blue: #4F4E6F;
$vintage-blue: #749B8F;
$vintage-sky: #B4CCB9;
$vintage-beige: #FDF0CC;
$vintage-brown: #BCA875;

.heading--titan {
  font-size: 24px;
  font-weight: bold;
}

.heading--large {
  font-size: 20px;
}

.heading--medium {
  font-size: 16px;
}

.heading--small {
  font-size: 14px;
}

.text-emphasized {
  font-weight: bold;
}

body {
  margin: 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.trip-index {
  padding: 20px;
}

.flex-column {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  height: 500px;
}

.flex-column-edit textarea {
  width: 100%;
  height: 50px;
}

.flex-column-inner {
  height: 350px;
  margin: 10px 0px;
  overflow-y: scroll;
}

.notes-container {
  background-color: $deep-blue;
}

.flights-container {
  background-color: $vintage-blue;
}

.lodging-container {
  background-color: $vintage-sky;
}

.finance-tracking-container {
  background-color: $vintage-brown;
}

.notes-item {
  padding: 10px;
  background: white;

  &.even {
    background: $light-grey;
  }
}

.trip-info-container {
  background-image: image-url("blue-pattern-bg.png");
  display: flex;
  justify-content: center;
}

.trip-info-inner {
  width: 70%;
  margin: 30px;
  padding: 20px;
  background-color:rgba(255,255,255,0.5);
}

.other-info-container {
  border-top: 3px solid $dark-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $vintage-beige;
}

.main-header {
  display: flex;
  padding: 10px;
  color: white;
  background-color: $dark-grey;

  a {
    position: absolute;
    right: 10px;
    color: white;
  }
}

