.main-header
  - if current_user
    heading--large= "You are logged in as #{current_user.name}"
    = link_to "Sign Out", destroy_user_session_path(), method: :delete
  - else
    heading--large You are not logged in. Please log in to update the board
    = link_to "Sign In", new_user_session_path()